:root {
  --max-translation: 0;  /* x pixels */
  --max-skew: 18;        /* degrees */
  --max-scale-diff: 0.15; /* scale factor */
  --anim-freq: 2;        /* Hz */
  --anim-time: calc(1/var(--anim-freq) * 1s);
}

.🦜 {
  animation: party var(--anim-time) infinite linear, tint var(--anim-time) infinite linear;
  transform-origin: bottom center;
}

@keyframes tint {
  /* colour should tint the parrot, not set the background
  turns out this is a bit more complicated than I thought
  oh well, it's good enough for now to get me fired */
  0%, 100% { background-color: #FF6B6B; }
  12.5% { background-color: #FF6BB5; }
  25% { background-color: #FF81FF; }
  37.5% { background-color: #D081FF; }
  50% { background-color: #81ACFF; }
  62.5% { background-color: #81FFFF; }
  75% { background-color: #81FF81; }
  87.5% { background-color: #FFD081; }
}

@keyframes party {
  0% { transform: skew(calc(var(--max-skew) * -1deg), 0deg) translateX(calc(var(--max-translation) * 0px)) scaleY(calc(1 + var(--max-scale-diff) * 0)); }
  5% { transform: skew(calc(var(--max-skew) * -0.9511deg), 0deg) translateX(calc(var(--max-translation) * 0.3090px)) scaleY(calc(1 + var(--max-scale-diff) * 0.3090)); }
  10% { transform: skew(calc(var(--max-skew) * -0.8090deg), 0deg) translateX(calc(var(--max-translation) * 0.5878px)) scaleY(calc(1 + var(--max-scale-diff) * 0.5878)); }
  15% { transform: skew(calc(var(--max-skew) * -0.5878deg), 0deg) translateX(calc(var(--max-translation) * 0.8090px)) scaleY(calc(1 + var(--max-scale-diff) * 0.8090)); }
  20% { transform: skew(calc(var(--max-skew) * -0.3090deg), 0deg) translateX(calc(var(--max-translation) * 0.9511px)) scaleY(calc(1 + var(--max-scale-diff) * 0.9511)); }
  25% { transform: skew(calc(var(--max-skew) * 0deg), 0deg) translateX(calc(var(--max-translation) * 1px)) scaleY(calc(1 + var(--max-scale-diff) * 1)); }
  30% { transform: skew(calc(var(--max-skew) * 0.3090deg), 0deg) translateX(calc(var(--max-translation) * 0.9511px)) scaleY(calc(1 + var(--max-scale-diff) * 0.9511)); }
  35% { transform: skew(calc(var(--max-skew) * 0.5878deg), 0deg) translateX(calc(var(--max-translation) * 0.8090px)) scaleY(calc(1 + var(--max-scale-diff) * 0.8090)); }
  40% { transform: skew(calc(var(--max-skew) * 0.8090deg), 0deg) translateX(calc(var(--max-translation) * 0.5878px)) scaleY(calc(1 + var(--max-scale-diff) * 0.5878)); }
  45% { transform: skew(calc(var(--max-skew) * 0.9511deg), 0deg) translateX(calc(var(--max-translation) * 0.3090px)) scaleY(calc(1 + var(--max-scale-diff) * 0.3090)); }
  50% { transform: skew(calc(var(--max-skew) * 1deg), 0deg) translateX(calc(var(--max-translation) * 0px)) scaleY(calc(1 + var(--max-scale-diff) * 0)); }
  55% { transform: skew(calc(var(--max-skew) * 0.9511deg), 0deg) translateX(calc(var(--max-translation) * -0.3090px)) scaleY(calc(1 + var(--max-scale-diff) * -0.3090)); }
  60% { transform: skew(calc(var(--max-skew) * 0.8090deg), 0deg) translateX(calc(var(--max-translation) * -0.5878px)) scaleY(calc(1 + var(--max-scale-diff) * -0.5878)); }
  65% { transform: skew(calc(var(--max-skew) * 0.5878deg), 0deg) translateX(calc(var(--max-translation) * -0.8090px)) scaleY(calc(1 + var(--max-scale-diff) * -0.8090)); }
  70% { transform: skew(calc(var(--max-skew) * 0.3090deg), 0deg) translateX(calc(var(--max-translation) * -0.9511px)) scaleY(calc(1 + var(--max-scale-diff) * -0.9511)); }
  75% { transform: skew(calc(var(--max-skew) * 0deg), 0deg) translateX(calc(var(--max-translation) * -1px)) scaleY(calc(1 + var(--max-scale-diff) * -1)); }
  80% { transform: skew(calc(var(--max-skew) * -0.3090deg), 0deg) translateX(calc(var(--max-translation) * -0.9511px)) scaleY(calc(1 + var(--max-scale-diff) * -0.9511)); }
  85% { transform: skew(calc(var(--max-skew) * -0.5878deg), 0deg) translateX(calc(var(--max-translation) * -0.8090px)) scaleY(calc(1 + var(--max-scale-diff) * -0.8090)); }
  90% { transform: skew(calc(var(--max-skew) * -0.8090deg), 0deg) translateX(calc(var(--max-translation) * -0.5878px)) scaleY(calc(1 + var(--max-scale-diff) * -0.5878)); }
  95% { transform: skew(calc(var(--max-skew) * -0.9511deg), 0deg) translateX(calc(var(--max-translation) * -0.3090px)) scaleY(calc(1 + var(--max-scale-diff) * -0.3090)); }
  100% { transform: skew(calc(var(--max-skew) * -1deg), 0deg) translateX(calc(var(--max-translation) * 0px)) scaleY(calc(1 + var(--max-scale-diff) * 0)); }
}
